.tagbar{
    background-color: #144272;
    color: #ffffff;
    border-radius: 10px;
    .tag{
        border-bottom: 1px solid #205295;
        text-align: center;
        padding-bottom: 5px;
    }
    .tagname{
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        width: 33%;
        margin-bottom: 20px;
        text-align: center;
    }
}