.tagbar{
    background-color: rgba(12, 23, 45, 1);
    color: #ffffff;
    border-radius: 10px;
    .tag{
        border-bottom: 1px solid #4E5356;
        text-align: center;
        padding-bottom: 3px;
    }
    .tagname{
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        width: 33%;
        margin-bottom: 20px;
        text-align: center;
    }
}