.edit-info {
  max-width: 400px;
  text-align: center;
  background-color: #0c172d;
  margin: 30px 0 0 30%;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  label {
    text-align: left;
    display: block;
    color: #ddfcff;
  }
  h2{
    font-size: 36px;
    color: #EF505F;
    margin-bottom: 30px;
  }
  input {
    width: 100%;
    padding: 6px px;
    margin:10px 0;
    border: none;
    box-sizing: border-box;
    display: block;
  }
  button {
    background-color: #EF505F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
  }
}