.edit-info {
  max-width: 700px;
  text-align: center;
  background-color: #144272;
  margin: 30px 30px 20px 60px;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  label {
    text-align: left;
    display: block;
    color: #ddfcff;
  }
  h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
  }
  input {
    width: 100%;
    padding: 6px px;
    margin: 10px 0;
    border: none;
    box-sizing: border-box;
    display: block;
  }
  button {
    background-color: rgb(244, 200, 90);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
  }
  button:hover {
    background-color: rgb(255, 191, 29);
    transition: 0.5s;
    color: #ddfcff;
  }
  .change-pass {
    a {
      text-decoration: none;
      color: rgb(244, 200, 90);
      cursor: pointer;
    }
    a:hover {
      color: #fff;
      transition: 0.3s;
    }
  }
}
