.academic {
  h1 {
    margin-bottom: 20px;
  }

  form {
    display: block;
    label {
      margin-right: 10px;
    }

    input[type='date'] {
      margin-bottom: 10px;
    }

    button[type='submit'],
    button[type='button'] {
      margin-top: 10px;
    }
  }

  button {
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      border: 1px solid black;
    }

    th {
      background-color: gray;
      color: white;
    }

    td {
      text-align: center;
    }

    button {
      margin: 0 5px;
    }
  }
}
