.Auth-form-title-forgotpass {
  text-align: left;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  background-color: #1e1e1e;
  width: 212px;
}
.fg-p {
  text-align: left;
  margin-bottom: 1em;
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #1e1e1e;
  margin-bottom: 50px;
}
.fg-bt {
  display: flex;
  width: 100%;
  margin-top: 30px;
  color: #ffffff;
  font-size: 19px;
  button {
    color: #ffffff;
    border: 2px;
    border-radius: 10px;
    background-color: rgba(239, 80, 95, 1);
    font-family: 'itim';
    font-size: 21px;
    padding: 20px 30px 20px 30px;
    width: 30%;
    display: block;
    text-align: right;
  }
  span{
    text-align: right;
    width: 67%;
    margin-right: 15px;
  }
  a {
    text-align: right;
    color: #ffffff;
    font-size: 26px;
  }
  p{
    text-align: right;
    display: block;
  }
}
