* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.Login-page {
  div {
    font-family: 'itim';
  }
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .Auth-form {
    width: 508px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
  }

  .Auth-form-content {
    .form-group {
      position: relative;
      width: 100%;
      a {
        position: absolute;
        z-index: 2;
        left: 50px;
        top: 56px;
        color: white;
        font-size: 20px;
        display: flex;
      }
    }
  }

  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 48px;
    font-weight: 400;
    color: #ffffff;
  }
  input {
    background-color: rgba(12, 23, 45, 1);
    color: #ffffff;
    padding: 14px 0px 14px 60.05px;
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: 'itim';
    font-size: 16px;
  }
  input::placeholder {
    opacity: 1;
    color: #ffffff;
    font-family: 'itim';
  }
  .icon {
    position: absolute;
    top: 38.5%;
    left: 3%;
    z-index: 2;
    font-size: 30px;
  }
  label {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    display: block;
  }
  .forgot-password {
    color: rgba(166, 232, 168, 1);
    float: right;
    font-size: 21px;
    margin-bottom: 20px;
    a {
      color: rgba(166, 232, 168, 1);
    }
  }
  .d-lg {
    button {
      width: 100%;
      padding: 18px 0px 18px 0px;
      color: #ffffff;
      border: 2px;
      border-radius: 15px;
      background-color: rgba(239, 80, 95, 1);
      font-family: 'itim';
      font-size: 21px;
    }
  }
  .register {
    position: absolute;
    color: white;
    top: 98%;
    font-size: 20px;
    a {
      color: rgba(166, 232, 168, 1);
    }
  }
}
