.input-group-re {
  position: relative;
  .input {
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #144272;
    color: #ffffff;
    padding: 14px 0px 14px 60.05px;
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: 'itim';
    font-size: 16px;
  }

  .user-label {
    position: absolute;
    left: 26px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    top: -5px;
    font-size: 21px;
  }

  .input:focus,
  input:valid {
    outline: none;
    border: 3px solid white;
    background-color: #0A2647;
  }

  .input:focus ~ label,
  input:valid ~ label {
    transform: translateY(-30%) scale(0.8);
    background-color: #0A2647;
    padding: 0 0.2em;
    color: #ffffff;
  }
}
.sm-regis {
  button {
    width: 100%;
    padding: 18px 0px 18px 0px;
    color: #ffffff;
    border: 2px;
    border-radius: 15px;
    background-color: rgba(239, 80, 95, 1);
    font-family: 'itim';
    font-size: 21px;
    margin-top: 20px;
  }
}
.select-group-re{
  float: right;
  .role-lable{
    color: #fff;
    font-size: 18px;
    select{
      margin: 15px 0px 15px 15px;
      option {
        color: #fff;
        background-color: #205295;
      }
    }
  }
}