@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
@import '../CommonScss/Responsive.scss';
.navbar {
  background-color: #0c172d;

  .logo {
    display: flex;
    margin-left: 10%;
    .icon {
      font-size: 17px;
      color: blue;
    }
    .text {
      text-decoration: none;
      margin-left: 2px;
      color: white;
      font-size: 20px;
    }
  }
  .home {
    font-size: 30px;
    a {
      color: white;
    }
  }
  .search {
    input {
      width: 100%;
      border-radius: 10px;
      text-indent: 10px;
      font-size: 20px;
      font-family: 'FontAwesome';
      &::placeholder {
        font-size: 15px;
        display: flex;
        justify-content: center;
      }
    }
    a {
      color: white;
    }
  }
  .list_item {
    display: flex;
    font-size: 30px;
    .post{
      padding: 0px 10px;
    }
    .question{
      padding: 0px 10px;
    }
    .notification{
      padding: 0px 10px;
    }
    .info{
      padding: 0px 10px;
    }
    a {
      color: white;
    }
    .info {
      margin-left: 10px;
    }
  }
  .navbar__dropdown {
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;

    .user_item {
      color: #333;
      text-decoration: none;
      padding: 5px 20px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
    .login {
      color: #333;
      text-decoration: none;
      padding: 5px 20px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
@include responsive('extra-large') {
  .navbar{
    .navbar__dropdown{
      top: 54px;
      right: 42px;
    }
  }
  
}
@include responsive('large') {
  .navbar{
    .navbar__dropdown{
      top: 50px;
      right: 2px;
    }
    .logo{
      margin-left: 10%;
    }
  }
 
}
@include responsive('medium') {
  .navbar{
    
    .list_item{
    .post{
      padding: 0px 7px;
    }
    .question{
      padding: 0px 7px;
    }
    .notification{
      padding: 0px 7px;
    }
    .info{
      padding: 0px 7px;
    }
    }
    .search{
      width: 100%;
    }
    .navbar__dropdown{
      top: 50px;
    }
    .logo{
      margin-left: 7%;
    }
    .home{
      margin-left: 50%;
    }
  }
}
@include responsive('small') {
.navbar{
  .list_item{
  .post{
    padding: 0px 5px;
  }
  .question{
    padding: 0px 5px;
  }
  .notification{
    padding: 0px 5px;
  }
  .info{
    padding: 0px 5px;
  }
  }
  .navbar__dropdown{
    width: 90px;
    height: 90px;
    top: 82px;
    right: 25px;
    padding: 0px;
  }
}
}
@include responsive('extra-small') {
  .navbar{

      .search{
        input{
          &::placeholder {
            font-size: 13px;
          }
        }
    }
    .navbar__dropdown{
      width: 90px;
      height: 90px;
      top: 82px;
      right: 2px;
      padding: 0px;
    }
  }
}
@include responsive('too-small'){
.navbar{
  .search{
    input{
      &::placeholder {
        font-size: 11px;
      }
    }

  }
  .navbar__dropdown{
    top: 82px;
    right: 2px;
      padding: 0px;
  }
  .list_item{
    .post{
      padding: 0px 0px;
    }
    .question{
      padding: 0px 0px;
    }
    .notification{
      padding: 0px 0px;
    }
    .info{
      padding: 0px 0px;
    }
  }
}
}