@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
@import '../CommonScss/Responsive.scss';
.navbar {
  background-color: #0c172d;
  .logo {
    display: flex;
    .icon {
      font-size: 17px;
      color: blue;
    }
    .text {
      text-decoration: none;
      margin-left: 2px;
      color: white;
      font-size: 20px;
    }
  }
  .home {
    font-size: 30px;
    a {
      color: white;
    }
  }
  .search {
    input {
      width: 100%;
      border-radius: 20px;
      text-indent: 20px;
      font-size: 20px;
      font-family: 'FontAwesome';
      &::placeholder {
        font-size: 15px;
      }
    }
    a {
      color: white;
    }
  }
  .list_item {
    display: flex;
    font-size: 30px;
    a {
      color: white;
    }
    .info {
      margin-left: 10px;
    }
  }
  .navbar__dropdown {
    position: absolute;
    top: 40%;
    right: 5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .user_item {
      color: #333;
      text-decoration: none;
      padding: 5px 20px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
    .login {
      color: #333;
      text-decoration: none;
      padding: 5px 20px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
@include responsive('extra-large') {
  .navbar{
    .navbar__dropdown{
      top: 22px;
      right: 20px;
    }
  }
  
}
@include responsive('large') {
  .navbar{
    .navbar__dropdown{
      width: 90px;
      height: 100px;
      top: 80%;
      right: 10%;
    }
  }
 
}
@include responsive('medium') {
  .navbar{
    .list_item{
      display: flex;
    justify-content: center;
    }
    .search{
      width: 80%;
    }
    .navbar__dropdown{
      top: 70%;
    }
    .logo{
      margin-left: 7%;
    }
    .home{
      margin-left: 50%;
    }
  }
}
@include responsive('small') {
.navbar{
  .list_item{
    display: flex;
  justify-content: center;
  }
  .navbar__dropdown{
    width: 90px;
    height: 90px;
    top: 70%;
    padding: 0px;
  }
}
}
@include responsive('extra-small') {
  .navbar{
    .list_item{
      display: flex;
    justify-content: center;
    }
    .navbar__dropdown{
      width: 90px;
      height: 90px;
      top: 70%;
      padding: 0px;
    }
  }
}
@include responsive('too-small'){
.navbar{
  .navbar__dropdown{
    top: 70%;
      padding: 0px;
      left: 80%;
  }
}
}