.StatisticalTag{
    width: 100%;
    .Compare-department{
    width: 100%;
    background-color: #144272;
    border-radius: 0.7rem;
    padding: 3%;
    text-align: center;
    margin-top: 5%;
    }
    h4{
        color: #fff;
    }
    .apexcharts-xaxis-label{
        fill: #fff;
    }
    .apexcharts-yaxis-label{
        fill: #fff;
    }
    .apexcharts-legend-text{
        color: #fff !important;
    }
    .DetailTag{
        display: flex;
        gap: 10px;
        width: 100%;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .parentContainer {
        min-width: 24% !important;
        width: auto;
    }
}