@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.footer {
  background-color: #0c172d;
  padding: 5px;
  .container {
    background-color: #0c172d;
  }
  .logo {
    background-color: #0c172d;
    justify-content: flex-start;
    display: flex;
    color: blue;
    font-size: 25px;
    .text {
      margin-top: -6px;
      margin-left: 2px;
      color: white;
      font-size: 25px;
    }
  }

  .footer {
    padding-left: 5%;
    padding-right: 5%;

    .about {
      .about_item {
        list-style: none;
        row-gap: 50px;
        column-gap: 50px;
        p {
          font-size: 20px;
          color: white;
          font-weight: 700;
          &:hover {
            color: rgb(244, 200, 90);
          }
        }
        .footer_item {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            &:hover {
              color: rgb(244, 200, 90);
            }
          }
        }
      }
    }
    .service {
      .service_item {
        list-style: none;
        p {
          font-size: 20px;
          color: white;
          font-weight: 700;
          &:hover {
            color: rgb(244, 200, 90);
          }
        }

        .footer_item {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            &:hover {
              color: rgb(244, 200, 90);
            }
          }
        }
      }
    }
    .adress {
      .adress_item {
        list-style: none;
        p {
          font-size: 20px;
          color: white;
          font-weight: 700;
          &:hover {
            color: rgb(244, 200, 90);
          }
        }
        .footer_item {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            &:hover {
              color: rgb(244, 200, 90);
            }
            p {
              display: inline;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .social {
      .social_item {
        list-style: none;
        p {
          font-size: 20px;
          color: white;
          font-weight: 700;
          &:hover {
            color: rgb(244, 200, 90);
          }
        }
        .footer_item {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            &:hover {
              color: rgb(244, 200, 90);
            }
            p {
              display: inline;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .footer_copy {
    margin: 0;
    background-color: #0c172d;
    color: white;
    justify-content: center;
    display: flex;
  }
}
