.List-post {
  background-color: #144272;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 2px;
  .postcontent {
    padding-top: 10px;
    display: flex;
    .postlike {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 15%;
      padding-right: 1%;
    }
    .user-post {
      display: inline-block;
      width: 80%;
      padding-left: 1%;
      border-left: 1px solid #4E5356;
      img {
        border-radius: 50%;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      h4 {
        font-size: 17px;
        display: contents;
      }
      h2{
        a{
          color: white;
          text-decoration: none;
        }
      }
      .title-content {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 35px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 17px;
      }
      .tag-content {
        list-style-type: none;
        display: flex;
        padding: 0;
        font-weight: 200;
        li {
          margin-right: 10px;
        }
      }
    }
  }
}
