.load-screen {
  color: rgb(236, 125, 125);
}

.List-post {
  background-color: #144272;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 2%;
  .postcontent {
    margin-left: 2%;
    padding-top: 10px;
    display: flex;
    .user-post {
      display: inline-block;
      width: 80%;
      padding-left: 1%;
      border-left: 1px solid #4e5356;
      img {
        border-radius: 50%;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      h4 {
        font-size: 17px;
        display: contents;
      }
      h2 {
        a {
          color: white;
          text-decoration: none;
        }
      }
      .title-content {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 35px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 17px;
      }
      .tag-content {
        list-style-type: none;
        display: flex;
        padding: 0;
        font-weight: 200;
        li {
          margin-right: 10px;
        }
      }
    }
  }
  .postlike {
    color: #ddfcffb0;
    display: flex;
    margin-left: 2.5%;
    padding-bottom: 2%;
    .vote {
      margin-right: 5%;
      display: flex;
      i {
        padding-right: 10px;
        padding-top: 4px;
      }
    }
    .comment {
      display: flex;
      margin-right: 5%;
      i {
        padding-right: 10px;
        padding-top: 4px;
      }
    }
    .view {
      display: flex;
      i {
        padding-right: 10px;
        padding-top: 4px;
      }
    }
  }
}

.paginate-link {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  margin-top: 5%;
  cursor: pointer;
  li {
    a {
      color: #fff !important;
      text-decoration: none;
      padding: 0 15px;
      background-color: #144272;
      border-radius: 6px;
      &:hover {
        background-color: #2c74b3;
      }
    }
  }
  .previous {
    a {
      background-color: #144272;
      padding: 6px;
      border-radius: 10px;
      svg {
        polygon {
          fill: #fff;
        }
      }
    }
  }
  .next {
    a {
      background-color: #144272;
      padding: 6px;
      border-radius: 10px;
      svg {
        polygon {
          fill: #fff;
        }
      }
    }
  }
  .disabled {
    opacity: 0.5;
  }
  .selected {
    a {
      color: antiquewhite !important;
      background-color: #2c74b3;
    }
  }
}
