@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.question{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    .vote_item{
        background-color: white;
        display: grid;
        grid-template-columns: auto auto ;
        column-gap: 10px;
        row-gap: 1px;
        float: left;
        width: 10%;
        margin-left: 18%;
        margin-top: 22px;
        .item_vote{
            margin-left: 60px;
            background-color: white;
            font-weight: 500;
        }
        .item_answer{
            margin-left: 60px;
            background-color: white;
            font-weight: 300;
            color: rgb(61, 63, 66);
        }
        .item_view{
            margin-left: 60px;
            background-color: white;
            font-weight: 300;
            color: rgb(61, 63, 66);
        }
        .vote{
            margin-right: 40px;
            background-color: white;
            font-weight: 500;
        }
        .answer{
            background-color: white;
            font-weight: 300;
            color: rgb(61, 63, 66);
        }
        .view{
            background-color: white;
            font-weight: 300;
            color: rgb(61, 63, 66);
        }
    }
    .post{
        float: left;
        width: 47%;
        margin-top: 20px;
        background-color: white;
        .title{
            a{
                text-decoration: none;
                color: rgb(29, 88, 182);
                font-weight: 500;
                font-size: 20px;
            }
        }
        .content{
            background-color: white;
            margin-top: 5px;
            font-weight: 400;
            font-size: 16px;
            color: black;
        }
        .language{
                background-color: white;
                display: flex;
                padding: 10px;
                a{
                    text-decoration: none;

                }
                .item_1{
                    margin-right: 10px;
                    background-color: rgb(172, 201, 215);
                    border-radius: 5px;
                    height: 21px;
                    width: 80px;
                    color: rgb(50, 161, 209);
                    text-align: center;
                    font-weight: 400;
                    font-size: 15px;
                }
                .item_2{
                    background-color:  rgb(172, 201, 215);
                    color: rgb(50, 161, 209);
                    border-radius: 5px;
                    height: 21px;
                    width: 60px;
                    text-align: center;
                    font-weight: 00;
                    font-size: 15px;
                }
                .item_3{
                    background-color:  rgb(172, 201, 215);
                    color: rgb(50, 161, 209);
                    border-radius: 5px;
                    height: 21px;
                    width: 35px;
                    text-align: center;
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 15px;
                }
                .item_4{
                    background-color:  rgb(172, 201, 215);
                    color: rgb(50, 161, 209);
                    border-radius: 5px;
                    height: 21px;
                    width: 50px;
                    text-align: center;
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 15px;
                }

            }
    }
    .asked{
        float: right;
        display: flex;
        width: 55%;
        background-color: white;
        .polite{
            background-color: white;
        }
        .profile{
            background-color: white;
            img{
                width: 30px;
                height: 30px;
            }
        }
        .info{
            background-color: white;
            margin-top: 10px;
            margin-left: 5px;
            .info_item{
                text-decoration: none;
                    color:rgb(50, 161, 209);
            }
            .time{
                color: rgba(84, 80, 76, 0.816);
                text-decoration: none;
            }

        }
        .list_view{
            background-color: white;
            display: inline;
            margin-left: 10px;
            font-weight: 500;
        }
    }
    
}
