.answer-form{
    margin-top: 5%;
    color: #ffffff;
    .post-a-form{
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-top: 5%;
    .dost{
        display: flex;
        width: 100%;
        padding: 10px;
        background-color: rgba(12, 23, 45, 1);
        span{
            padding: 15px;
            svg {
                width: 25px;
                height: 25px;
              }
        }
    }
    textarea{
        width: 100%;
        height: 150px;
        background-color: #949494;
        color: #ffffff;
    }
    button{
        background-color: #EF505F;
        color: #ffffff;
        width: 20%;
        float: right;
        padding: 10px 20px;
        margin-top: 3%;
        border-radius: 5px;
    }
}

}
