.QaManage {
  font-family: Arial, sans-serif;
  padding: 20px;

  .crud_QaManage {
    display: flex;
    flex-direction: column;

    h1 {
      display: flex;
      justify-content: center;
      color: white;
    }
    div {
      label {
        color: white;
      }
      button {
        margin-bottom: 10px;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #427acd;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #427acd;
        }
      }
      .update {
        button {
          margin-bottom: 10px;
          padding: 5px;
          border: none;
          border-radius: 5px;
          background-color: #427acd;
          color: #fff;
          cursor: pointer;
          margin-bottom: 20px;

          &:hover {
            background-color: #427acd;
          }
        }
      }

      .todo-label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .todo-input {
        padding: 5px;

        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
          outline: none;
          border-color: #427acd;
        }
      }
      .todo-input-date {
        padding: 5px;

        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;

        &:focus {
          outline: none;
          border-color: #427acd;
        }
      }
      tbody {
        display: inline-block;
        width: 100%;
        tr {
          padding: 0 6%;
          display: inline-block;
          width: 50%;
          margin-top: 10px;
          td {
            background-color: #427acd;
          }
        }
      }
      table {
        display: inline-block;
        margin-top: 10px;
        border-collapse: collapse;
        width: 100%;

        th,
        td {
          text-align: left;
          padding: 10px;
        }
        td {
          color: white;
        }

        th {
          background-color: #f2f2f2;
        }

        .edit {
          font-size: 1em;
          padding: 5px;
          background-color: #345ed2;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-left: 5px;

          &:hover {
            background-color: #2953c5;
          }
        }
        .del {
          font-size: 1em;
          padding: 5px;
          background-color: #f44336;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-left: 5px;

          &:hover {
            background-color: #d32f2f;
          }
        }
      }
    }
  }
}
