.posts-h-1 {
  margin-top: 30px;
  .icon {
    background-color: #0c172d;
    position: absolute;
    color: #ddfcffb0;
    margin-left: 50px;
    margin-right: 90%;
    margin-top: 20px;
    padding-left: 20px;
    .up-icon {
      background-color: #0c172d;
      color: #ef505f;
      padding-left: 5px;
      font-size: 32px;
    }
    p {
      background-color: #0c172d;
      margin-bottom: 0;
    }
    .down-icon {
      background-color: #0c172d;
      padding-left: 5px;
      font-size: 32px;
    }
  }
  .p-1 {
    background-color: #0c172d;
    margin-left: 50px;
    border-radius: 10px;
    .user {
      background-color: #0c172d;
      display: flex;
      padding: 10px 0 0 70px;
      img {
        height: 50px;
      }
      p {
        font-family: 'Roboto', sans-serif;
        color: #ddfcff;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .time {
      background-color: #0c172d;
      display: flex;
      padding: 5px 0 0 70px;
      p {
        color: #ddfcffb0;
        margin-right: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
    }
    .content {
      background-color: #0c172d;
      padding-left: 70px;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      p {
        color: #ddfcff;
      }
    }
    .tag {
      background-color: #0c172d;
      display: flex;
      margin-left: 75px;
      p {
        color: #ddfcffb0;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-right: 20px;
      }
    }
    .post-b {
      color: #ddfcffb0;
      background-color: #0c172d;
      display: flex;
      margin-left: 50px;
      padding-left: 30px;
      .comment {
        background-color: #0c172d;
        display: flex;
        padding-right: 100px;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
      .share {
        background-color: #0c172d;
        display: flex;
        padding-right: 180px;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
      .view {
        background-color: #0c172d;
        display: flex;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
    }
  }
}

.posts-h-2 {
  margin-top: 30px;
  .icon {
    background-color: #0c172d;
    position: absolute;
    color: #ddfcffb0;
    margin-left: 50px;
    margin-right: 90%;
    margin-top: 20px;
    padding-left: 20px;
    .up-icon {
      background-color: #0c172d;
      padding-left: 5px;
      font-size: 32px;
    }
    p {
      background-color: #0c172d;
      margin-bottom: 0;
    }
    .down-icon {
      background-color: #0c172d;
      color: #ef505f;
      padding-left: 5px;
      font-size: 32px;
    }
  }
  .p-1 {
    background-color: #0c172d;
    margin-left: 50px;
    border-radius: 10px;
    .user {
      background-color: #0c172d;
      display: flex;
      padding: 10px 0 0 70px;
      img {
        height: 50px;
      }
      p {
        font-family: 'Roboto', sans-serif;
        color: #ddfcff;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .time {
      background-color: #0c172d;
      display: flex;
      padding: 5px 0 0 70px;
      p {
        color: #ddfcffb0;
        margin-right: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
    }
    .content {
      background-color: #0c172d;
      padding-left: 70px;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      p {
        color: #ddfcff;
      }
    }
    .tag {
      background-color: #0c172d;
      display: flex;
      margin-left: 75px;
      p {
        color: #ddfcffb0;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-right: 20px;
      }
    }
    .post-b {
      color: #ddfcffb0;
      background-color: #0c172d;
      display: flex;
      margin-left: 50px;
      padding-left: 30px;
      .comment {
        background-color: #0c172d;
        display: flex;
        padding-right: 100px;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
      .share {
        background-color: #0c172d;
        display: flex;
        padding-right: 180px;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
      .view {
        background-color: #0c172d;
        display: flex;
        i {
          padding-right: 10px;
          padding-top: 4px;
        }
      }
    }
  }
}
